.stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }
  
  .star {
    display: inline-block;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
  }
  
  .star.selected,
  .star:hover,
  .star.selected ~ .star,
  .star:hover ~ .star {
    color: gold;
  }
  
  .star.selected:hover ~ .star,
  .star:hover ~ .star.selected {
    color: gray;
  }
  