label {
  font-weight: normal;
}

.submitOrSave {
  text-align: center;
}

.required {
  color: red;
  position: absolute;
  top: 0;
  right: -10px;
}
.reviewContainer {
  text-align: center;
  color: #7bafd4;
}
.top-container {
  border: 2px solid #7bafd4;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: flex;
}

.left-box > div {
  margin: 10px;
   margin-right: 17rem; 
}

.right-box > div {
  margin: 10px;
}

.createReviewPage {
  max-width: 1000px;
  margin: 0 auto;
}

.description-container {
  border: 2px solid #7bafd4;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.description-container > div {
  margin: 20px;
}

textarea {
  width: 100%;
  height: 90px;
  border: white;
  font-size: 16px;
}

.bottom-container {
  border: 2px solid #7bafd4;
  padding: 20px 20px;
  margin-bottom: 20px;
}
#submit,
#save {
  padding: 10px;
  margin-right: 25px;
  background-color: #7bafd4;
  color: white;
  border: #7bafd4;
  font-size: 18px;
  cursor: pointer;
}

#submit:hover {
  background-color: #5c8da0;
}
#save:hover {
  background-color: #5c8da0;
}

/*star formatting below*/
input[type="radio"] {
  display: none;
}

.ratings {
  margin-left: -40px;
  margin-top: 1px;
}

.rate {
  cursor: pointer;
  margin-right: 1px;
}

/*square formatting below*/
.books {
  margin-left: -40px;
  margin-top: 1px;
}
.book {
  cursor: pointer;
  margin-right: 0.5rem;
}
