.trendCard {
    background-color: #7BAFD4;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 200px;
    margin-bottom: 20px;
    height: 160px;
  }

  .department-link:hover {
    color: white;
  }

  header {
    color: white;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }

  .card div {
    margin-bottom: 5px;
  }